	
   <div class="col s2"><p><%= instructed_class.time %></p></div>

  <div class="col s3"><a class="waves-effect waves-light btn">Add Class</a></div>
  <div class="col s3">	<p><%= instructed_class.lesson.name %></p></div>
  <div class="col s2"><p><%= instructed_class.teacher.name %></p></div>

  <div class="col s2"> <p><%= instructed_class.duration %></p>
  </div>