<div class="form">
    <%= form_with model: @seat, class: "new_seat" do |f| %>
    
      <%# f.label :section %>
      <%= f.text_field :section, placeholder: 'section', class: "form-control", id: "section" %>
      <br>
      <br>
       <div class="black-text">
       	<%= f.submit %>
       </div>
    <% end %>
</div>	