<div class="col s3 m6 seats">
	    <div class="card horizontal">
	      <div class="card-stacked">
	        <div class="card-content">
	        	<span class="card-title">
	        		<p><%=  seat.section %></p>
	        </div>
	        <div class="card-action float_right">
	        	<%= link_to "delete", seat, method: :delete, remote: true, class: "destroy_show float_right"%>
	 	          <%= link_to "edit", edit_seat_path(seat), class: "float_right" %>
	        </div>
	      </div>
	    </div>
	  </div>
