<div class="header">
	<h1>Edit Seating Chart</h1>
 	<div class="row">
	 	<div class="col l3 s3"></div>
	 	 <div class="col l6 s9">
	 	 	<div class="card grey darken-4">
	      <div class="card-content white-text">
	      	<%= render 'form' %>
	   		</div>
			</div>
		</div>
	</div>
