<div class="header">
	<h1>Girls Night Out</h1>
	<p>call to action link</p>
</div>

<div class="row">
	<div class="col l3 s3"></div>
  <div class="col s6 m6">
    <div class="card-panel blue-grey darken-1 white-text">
      <p>Private parties are a great way to get your friends together and just let loose. We have several options that fit different needs, and are happy to provide you a custom quote should you not find what you are looking for below.</p>
      <br>
			<ul>
				<li>Bachelorette Parties</li>
				<li>Birthday Parties</li>  
				<li>Bridal Showers</li> 
				<li>Girls Night out or just for fun!</li>
			</ul>
			<br>
			<h5>Prices</h5>
			<p>$20.00 per Person/ Per Hour (minimum of $80.00)
			$20.00 for an extra 20 min. for a cocktail or social time before the party.</p>
			<p>Custom pricing available for large parties and events.</p>
			<p>We have many different types of parties.
			Mix any of them for the perfect party for you!</p>
			<br>
			<p>Aerial Silks~ Take it to the sky and learn fun tricks using nothing but suspended fabric.</p>
			<p>Pole Dancing~ Learn to swirl and move around the pole in this latest form of fitness.</p>
			<p>Lap Dancing~ For the girls who want  to spice up their parties and take some sassy moves home with them.</p>
    </div>
  </div>
  <div class="col l3 s3"></div>
</div>






 <div>
	
</div>