<div class="header">
	<h1>Prices</h1>
	 	<div class="row">
	 	<div class="col l3 s3"></div>
	 	 <div class="col l6 s9">
	 	 	<div class="card blue-grey darken-1">
	      <div class="card-content white-text">
	      	<%= link_to "Click here for Class Schedule", instructed_classes_path %>
	   		</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col l3 s3"></div>
  <div class="col s6 m6">
    <div class="card-panel blue-grey darken-1 white-text">
      <p>12 Month Unlimited Membership $59.95/ Month</p>
			<p>6 Month Unlimited Membership $69.95/ Month</p> 
			<p>3 Month Unlimited Membership $79.95/ Month</p>
			<p>No Contract- Unlimited Classes $99/ Month</p>
			<p>10 Punch Pass $99.00</p>   
			<p>Drop-In Class Rate $16.00</p>
			<p>One Week Trial $30.00</p>
			<p>Too busy with work, school or kids and cannot commit to an
			unlimited membership? We have the solution for you!
			Punch Pass Monthly Membership-  * 6 month commitment</p>
			<p>4 classes a month $39</p> 
			<p>8 classes a month $49 </p>
			 
			<p>Early Termintation of contracts: $100
			<p>No Show Fee: $5</p>
			<p>Late Cancel: $3</p>
    </div>
  </div>
  <div class="col l3 s3"></div>
</div>

	

	
