<h2>Prices</h2>

<div>
<p>12 Month Unlimited Membership $59.95/ Month</p>
<p>6 Month Unlimited Membership $69.95/ Month</p> 
<p>3 Month Unlimited Membership $79.95/ Month</p>
<p>No Contract- Unlimited Classes $99/ Month</p>
 

10 Punch Pass $99.00   
Drop-In Class Rate $16.00
One Week Trial $30.00
Too busy with work, school or kids and cannot commit to an
unlimited membership? We have the solution for you!
Punch Pass Monthly Membership-  * 6 month commitment
4 classes a month $39  
8 classes a month $49  
 
Early Termintation of contracts: $100
No Show Fee: $5          Late Cancel: $3

</div>