  
<div class="form">
    <%= form_with model: @lesson, class: "new_lesson", html: {multipart: true} do |f| %>
    	<%# f.label :class_name %>
        <%= f.text_field :class_name, placeholder: 'class name', class: "form-control", id: "class_name" %>
        <br>
        <%# f.label :description %>
        <%= f.text_field :description, placeholder: 'description', class: "form-control", id: "description" %>
        <%= f.submit "Create Class" %>
    <% end %>
</div>	