<div class="header">
	<h1>Edit Classes/Workshops</h1>
</div>
	
	<div class="row">
		<div class="col s3 m3"></div>
	  <div class="col s6 m6">
	    <div class="card blue-grey darken-1">
	      <div class="card-content white-text">
	        <span class="card-title">Edit Class/Workshop</span>
	    		<%= render 'form' %>
	      </div>
	    </div>
	  </div>
	  	<div class="col s3 m3"></div>
	</div>