  
	    <div class="card horizontal teachers">
	    	<div class="card-image">
       		<%= image_tag teacher.avatar.url(:thumb) %>
      	</div>
	      <div class="card-stacked">
	        <div class="card-content">
	        	<span class="card-title"><%= teacher.name %></span>
		          <p><%= teacher.bio %></p>
		           <p><%# classes_taught %></p>
	        </div>
	        <div class="card-action float_right">
	        	<a class="float_right" href="#">delete</a>
	          <a class="float_right" href="#">edit</a>
	         
	        </div>
	      </div>
	    </div>

