  
	    <div class="card horizontal teachers">
	    	<div class="card-image">
       		<%# image_tag teacher.avatar.url(:medium) %>
      	</div>
	      <div class="card-stacked">
	        <div class="card-content">
	        	<span class="card-title"><%= teacher.name %></span>
		          <p><%= teacher.bio %></p>
		           <p><%# classes_taught %></p>
	        </div>
	        <div class="card-action">
	          <a href="#">edit</a>
	          <a href="#">delete</a>
	        </div>
	      </div>
	    </div>

