// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.float_right {
	float: right;
}

.studio_img {
	height: 400px;
	width: 400px;
	box-shadow: 10px 10px 5px rgb(202, 230, 112);
	margin-left: 5%;
}

.studio_img_two {
	height: 400px;
	width: 400px;
	box-shadow: 10px 10px 5px rgb(202, 230, 112);
	margin-right: 5%;
}

.card {
	background-color: rgb(202, 230, 112);
}

.circle {
	height: 194px;
  width: 172px;
	display: inline-block;
	box-shadow: 10px 10px 5px rgb(202, 230, 112);
	margin-bottom: 5%;
	margin-left: 24%;
}

.flow-text{
 margin-left: 20%;
}

.small {
	height: 150px;
  width: 75px;
}

.font {
	font-family: italic;
	font-size: 12px;
}

.carousel .carousel-item {
	width: 550px !important;
}

.title {
	    font-weight: 600;
}

#faqs{
margin-top: -3%;
}

.center_one {
	margin-top: 5%;
  margin-bottom: -12%;
  text-align: center;
}

.font {
	font-family: fantasy;
}
    

// .pole {
// 	height: 100px;
// 	width: 20px;
// 	background-color: RGB(196, 199, 206);
// 	margin-left: 25%;
// }




















